<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Photopath:</b>
  <%= @recipe.photoPath %>
</p>

<p>
  <b>Mealtype:</b>
  <%= @recipe.mealType_id %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
